.log {
  padding: 20px;
  margin: auto;
  background-color: rgb(240, 244, 247);
  top: 20%;
}


.body-login {
	display: flex;
	align-items: center;
	top: 30px;
	background: center;
	background-color: rgb(240, 244, 247);
}

.log-form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.log-form input {
	outline: 0;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .30769231rem;
	padding: 5px;
	width: 100%;
	margin-bottom: -18px;
	text-align: center;
}

.submit {
	margin-top: 15px;
	background-color: rgb(0, 168, 214);
	color: white;
	width: 100%;
	padding: 5px;
	border-radius: .30769231rem;
	border: 1px solid rgba(34,36,38,.15);
}

.rooms {
	margin: 3px;
}

.rooms h3 {
	color: rgb(96, 163, 50);
}

.room {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	border: 1px solid rgba(34,36,38,.15);
	background-color: rgb(240, 244, 247);
	border-radius: .50769231rem;
	display: block;
	padding: 15px;
	width: 100%;
	font-size: 18px;
}

.t {
	overflow: hidden;
	float: right;
}

.btn {
	display: block;
	align-items: center;
}