{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
	<meta charset="utf-8">
	<title>Blog</title>
</head>
<body>
	<div class="menu">
		<a href="{% url 'base:home' %}">Room</a>
		<a href="{% url 'spreedsheet:home' %}">Spreedsheet</a>
		<a class="active" href="">Blog</a>
		<a class="logout" style="float: right;" href="{% url 'logout' %}">Logout</a>
	</div>

	<div class="container">
		{% if posts == False %}
			<div class="alert alert-danger">there is no post yet</div>
		{% else %}
			{% for post in posts %}
				<div class="card mbb-4">
					<div class="card-body">
						<h2>{{ post.title }}</h2>
						<p class="card-text text-muted h6">	{{ post.author }} | {{ post.created_on }}</p>
						<p class="card-text">{{post.content|slice:":200" }}</p>
						<a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
					</div>
					
				
				</div>
			{% endfor %}
		{% endif %}
	</div>

</body>
</html>