{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
</head>
<body>
	<a href="{% url 'logout' %}">logout</a>
	<div class="container">
		
		<div class="rooms">
			<h3>Welcome to Jalapenos</h3><br>
			

			{% if rooms == "not_allowed" %}
				you are not allowed

			{% else %}

				{% for room in rooms %}

					{% if user.is_superuser %}

						{% if room.release %}
							<div class="room">
								<a href="{% url 'base:room' room.id %}">{{ room }}</a>
								<div class="t">
									<a class="btn btn-danger" href="{% url 'base:change_release' room.id %}">off</a>
								</div>
							</div>


						{% else %}
							<div class="room"><a href="{% url 'base:room' room.id %}">{{ room }}</a>
								<div class="t">
									<a class="btn btn-success" href="{% url 'base:change_release' room.id %}">on</a>
								</div>
							</div>


						{% endif %}

					{% else %}
						<div><a class="room" href="{% url 'base:room' room.id %}">{{ room }}</a></div>

					{% endif %}
					<br>
				{% endfor %}
			{% endif %}
			
			
		</div>
	</div>
</body>
</html>